<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalDoctorApp"
        tools:targetApi="31">
        <activity
            android:name=".HistoryAppointments"
            android:exported="false">
        </activity>
        <activity
            android:name=".OpticianActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".OtolaryngologistActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".DermatologistActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PneumonologistActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".CardiologistActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RigakisNActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PapoutsisActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NikolaidisActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RozakiActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".TasoulaActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".FotogiannisActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".DimitrellosActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SiouziosActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".KonstantinidisActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".XarkiotakiActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SakellarActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RigakisGActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".InternistActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".EditActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false">
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>